.cardBackground{
    background-color: rgb(3, 0, 172);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    width: 300px;
    height:450px;
}

.cardImg{
    width: 200px;
    height: 300px;
    box-shadow: azure;
}

.cardname{
}