.cardBackground{
    background-color: rgba(31, 158, 243, 0.712);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    width: 300px;
    height:450px;
    text-shadow: -2px 2px 5px black;
    border: 2px solid white;
}

.cardImg{
    width: 200px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.466);
}

