.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto
}


.wrapCards{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    padding: 10px;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    font-style: oblique;  
    color: aliceblue;
}

@media (width >= 768px){
    .logo{
        width: 30%;
    }

    .wrapCards{
        gap: 60px;
        padding-left: 100px;
        padding-right: 100px;
    
    }
}
