*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    background-image: url(./fundo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

input{
    padding: 10px;
    width: 220px;
    border-radius: 8px;
    border:none;
    border:2px solid black;
    font-size: 17px;

}

@media (width >= 768px){
  body{
    background-image: url('/fundo.jpg');

  }
  input{
    width: 300px;
    font-size: 18px;


  }
}