*{
    padding: 0;
    margin: 0;
}


body{
    background-image: url(./fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}